.box {
  background-color: #fbeedd;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__content {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #faf0e5;
    border-radius: 12px;
    padding: 20px;
    margin: 0px 20px;
    width: 100%;
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__logo {
    height: 40px;
  }

  &__bookmark {
    height: 30px;
  }

  &__body {
    text-align: left;
  }

  &__company {
    font-size: 1em;
    font-weight: bold;
    margin: 20px 0px;
  }

  &__description {
    margin: 8px 0;
    font-size: 0.9em;
    margin-bottom: 20px;
  }

  &__date {
    color: #666;
    font-size: 0.8em;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    width: 100%;
  }

  &__reward {
    font-size: 1.5em;
    font-weight: bold;
  }

  &__apply-button {
    background-color: transparent;
    color: #000;
    border: 2px solid #3d314a;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
  }

  &__apply-button:hover {
    background-color: #3d314a;
    color: #fff;
  }
}
