.submit {
  height: 100vh;

  .submit_box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fef4e1;
    padding: 20px 50px;
    margin: 20px auto;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
  }
  h1 {
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  .input {
    margin-top: 20px;
  }

  .submit_button {
    margin: 20px auto;
    background-color: #0e0b37;
    color: #f0f0f0;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: #1a155b;
      transform: scale(1.05);
    }
  }
}
